<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SCAdmin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="OraConnString" value="Data Source=SCDT2_ANY;User ID=webcsuown;Password=webcsuown;Persist Security Info=True;"/>
    <add key="ApplLink" value="http://cpesc.t3.nat.bt.com"/>
    <add key="PageSize" value="100"/>
    <add key="HVPNPageSize" value="10"/>
  </appSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>

  </system.web>

  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <SCAdmin.Properties.Settings>
      <setting name="SCAdmin_GetUserDetailsService_Service" serializeAs="String">
        <value>http://10.29.81.147/LDAPQuery/Service.asmx</value>
      </setting>
    </SCAdmin.Properties.Settings>
  </applicationSettings>
</configuration>
