<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="../BootStrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../BootStrap/css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body ng-app="appModule">

    <div ng-controller="SLAInfoCntrl" style="margin: 15px; height:auto">
        <div class="PaddingBottomforModalPops">
            <button type="button" class="close" ng-click="$dismiss()">
                &times;</button><br />
        </div>
        <div ng-show="{{isDSL}}">
            <div class="panel panel-primary">
                <div class="panel-heading Arrow">
                    <h3 class="panel-title text-center">
                        Supplementary DSL / hVPN Information</h3>
                </div>
                <div class="panel-body">
                    <center>
                        <table class="table table-bordered tblnowrap">
                            <tr>
                                <th class="Arrow text-left">
                                    DSL / hVPN Information
                                </th>
                                <th class="Arrow text-left">
                                    Values
                                </th>
                            </tr>
                            <tr>
                                <td class="Arrow text-left">
                                    Access Model Name
                                </td>
                                <td class="Arrow text-left">
                                    {{ACCESS_MODEL_NAME}}
                                </td>
                            </tr>
                            <tr>
                                <td class="Arrow text-left">
                                    Access Provider Name
                                </td>
                                <td class="Arrow text-left">
                                    {{access_provider_name}}
                                </td>
                            </tr>
                            <tr>
                                <td class="Arrow text-left">
                                    CE VPI
                                </td>
                                <td class="Arrow text-left">
                                    {{ce_vpi}}
                                </td>
                            </tr>
                            <tr>
                                <td class="Arrow text-left">
                                    CE VCI
                                </td>
                                <td class="Arrow text-left">
                                    {{ce_vci}}
                                </td>
                            </tr>
                            <tr>
                                <td class="Arrow text-left">
                                    Encapsulation
                                </td>
                                <td class="Arrow text-left">
                                    {{encapsulation_name}}
                                </td>
                            </tr>
                            <tr>
                                <td class="Arrow text-left">
                                    Interconnect Design
                                </td>
                                <td class="bodyText Arrow text-left">
                                    {{INTERCONNECT_DESIGN_NAME}}
                                </td>
                            </tr>
                            <tr>
                                <td class="Arrow text-left">
                                    DSL Supply Type
                                </td>
                                <td class="Arrow text-left">
                                    {{dsl_supply_type_name}}
                                </td>
                            </tr>
                            <tr>
                                <td class="Arrow text-left">
                                    Splitter Type ISDN Included
                                </td>
                                <td class="Arrow text-left">
                                    {{splitter_included_isdn}}
                                </td>
                            </tr>
                            <tr>
                                <td class="Arrow text-left">
                                    Splitter Type PSTN Included
                                </td>
                                <td class="Arrow text-left">
                                    {{splitter_included_pstn}}
                                </td>
                            </tr>
                            <tr>
                                <td class="Arrow text-left">
                                    Local Loop Type
                                </td>
                                <td class="Arrow text-left">
                                    {{LOCAL_LOOP_TYPE_NAME}}
                                </td>
                            </tr>
                            <tr>
                                <td class="Arrow text-left">
                                    Product Code
                                </td>
                                <td class="Arrow text-left">
                                    {{product_code}}
                                </td>
                            </tr>
                        </table>
                        <div ng-show="{{noValidDSL}}">
                            No valid Supplementary DSL / hVPN Information</div>
                    </center>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading Arrow">
                <h3 class="panel-title text-center">
                    BT Internal SLA Information
                </h3>
            </div>
            <div class="panel-body">
                <table class="table table-bordered">
                    
                    <tr>
                    <td width="10%" class="Arrow">
                        <b>Supplier</b>
                    </td>
                    <td class="Arrow">
                        {{SupplierName}}
                    </td>
                    <td width="10%" class="Arrow">
                       <b> Supplier Product<b/>
                    </td>
                    <td class="Arrow">
                        {{supplierProduct}}
                    </td>
                </tr>
                </table>
                <div class="panel panel-primary bg1">
                    <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">
                                Information Category:</label>
                            <div class="col-sm-2">
                              <!--  <select class="form-control" ng-model="infocategory" ng-change="displaySLA()">
                                    <option value="0" ng-selected="true">{{ServiceDelivery}}</option>
                                    <option value="1">{{ServiceAssurance}}</option>
                                </select>-->
                                  <select class="form-control" ng-model='form.type'
                                    ng-options='option.value as option.name for option in typeOptions' ng-change="displaySLA()">
                                   </select>

                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 Arrow">
                            <b>SLA Information:</b><font color="Red"> These SLAs are BT's internal SLAs with our
                                Access Suppliers. They are<u> NOT TO BE QUOTED TO END CUSTOMERS</u>. The terms of
                                the SLA between the customer and BT is covered under the relevant BT product terms
                                and conditions for the whole service (e.g. BT MPLS).</font>
                        </div>
                    </div>
                </div>
                <div id="ServiceDeleveryOverview">
                    <div class="panel panel-primary">
                        <div class="panel-heading Arrow">
                            <h3 class="panel-title text-left">
                                Service Delivery Overview
                            </h3>
                        </div>
                        <div class="panel-body">
 <!--                           <table class="table table-bordered">
                                <tr>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td class="bodyText Arrow">
                                        <b>Service Credits for Late Delivery</b>
                                    </td>
                                    <td class="bodyText Arrow">
                                        <b>Special Notice</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="20%">
                                        <table>
                                            <tr>
                                                <td class="bodyText Arrow">
                                                   <b> Quote Validity Period</b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="bodyText Arrow">
                                                    <b>Acknowledgement of Receipt of Order</b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="bodyText Arrow">
                                                   <b> Minimum Contract Term</b>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="10%">
                                        <table>
                                            <tr>
                                                <td class="bodyText Arrow">
                                                   <input readonly value="{{strQuoteValidity}}" type="text" class="bodyText"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="bodyText Arrow">
                                                   <input readonly value="{{strAckReceipt}}" type="text" class="bodyText"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="bodyText Arrow">
                                                   <input readonly value="{{strMinContractTerm}}" type="text" class="bodyText"/>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td class="bodyText Arrow">
                                        <textarea rows="5" cols="40" readonly class="bodyText">{{strServiceCredits}}</textarea>
                                    </td>
                                    <td class="bodyText Arrow">
                                        <textarea rows="5" cols="40" readonly class="bodyText">{{strSpecialNotice}}</textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="25%" class="bodyText Arrow">
                                        <b>Cancellation Pre Installation</b>
                                    </td>
                                    <td width="25%" class="bodyText Arrow">
                                        <b>Cancellation During Contract Term</b>
                                    </td>
                                    <td colspan="2" class="bodyText Arrow">
                                       <b> Circuit Handover Test Criteria / Data</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <textarea readonly class="bodyText Arrow">{{strCanPreinstall}}</textarea>
                                    </td>
                                    <td>
                                        <textarea readonly class="bodyText Arrow">{{strCanDurConTerm}}</textarea>
                                    </td>
                                   
                                    <td colspan="2">
                                        <textarea readonly class="bodyText Arrow">{{strCircuitHandoverTestCrit}}</textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="bodyText Arrow">
                                        <b>Supplier Escalation Info</b> <a href="http://connection.concert.com/glopro/bt-abcde.asp" target="_blank">
                                            http://connection.concert.com/glopro/bt-abcde.asp </a>
                                    </td>
                                </tr>
                            </table>-->
                            <table cellpadding="0" cellspacing="0" class="table table-bordered">
                                <tr>
                                    <td width="40%" class="Arrow">
                                        Service Credits for Late Delivery
                                    </td>
                                    <td width="60%" class="Arrow">
                                        {{strServiceCredits}}
                                    </td>
                                </tr>
                                <tr>
                                    <td width="40%" class="Arrow">
                                        Special Notice
                                    </td>
                                    <td width="60%" class="Arrow">
                                        {{strSpecialNotice}}
                                    </td>
                                </tr>
                                <tr>
                                    <td width="40%" class="Arrow">
                                        Quote Validity Period
                                    </td>
                                    <td width="60%" class="Arrow">
                                        {{strQuoteValidity}}
                                    </td>
                                </tr>
                                <tr>
                                    <td width="40%" class="Arrow">
                                        Acknowledgement of Receipt of Order
                                    </td>
                                    <td width="60%" class="Arrow">
                                        {{strAckReceipt}}
                                    </td>
                                </tr>
                                <tr>
                                    <td width="40%" class="Arrow">
                                        Minimum Contract Term
                                    </td>
                                    <td width="60%" class="Arrow">
                                        {{strMinContractTerm}}
                                    </td>
                                </tr>
                                <tr>
                                    <td width="40%" class="Arrow">
                                        Cancellation Pre Installation
                                    </td>
                                    <td width="60%" class="Arrow">
                                        {{strCanPreinstall}}
                                    </td>
                                </tr>
                                <tr>
                                    <td width="40%" class="Arrow">
                                        Cancellation During Contract Term
                                    </td>
                                    <td width="60%" class="Arrow">
                                        {{strCanDurConTerm}}
                                    </td>
                                </tr>
                                <tr>
                                    <td width="40%" class="Arrow">
                                        Circuit Handover Test Criteria / Data
                                    </td>
                                    <td width="60%" class="Arrow">
                                        {{strCircuitHandoverTestCrit}}
                                    </td>
                                </tr>
                                <tr>
                                    <td width="40%" class="Arrow">
                                        Supplier Escalation Info
                                    </td>
                                    <td width="60%" class="Arrow">
                                        <a href="http://connection.concert.com/glopro/bt-abcde.asp">http://connection.concert.com/glopro/bt-abcde.asp
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading Arrow">
                            <h3 class="panel-title text-left">
                                Contracted Lead Times
                            </h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-bordered">
                                <tr>
                                    <th ng-show="{{isDSL}}" class="bodyText Arrow">
                                        Speed(D/U)
                                    </th>
                                    <th ng-hide="{{isDSL}}" class="bodyText Arrow">
                                        Speed
                                    </th>
                                    <th class="bodyText Arrow">
                                        Order Acceptance
                                    </th>
                                    <th class="bodyText Arrow">
                                        Order Confirmation
                                    </th>
                                    <th class="bodyText Arrow">
                                        Contracted Lead time
                                    </th>
                                    <th class="bodyText Arrow">
                                        BT Circuit Acceptance Period
                                    </th>
                                    <th class="bodyText Arrow">
                                        Expedite Delivery
                                    </th>
                                    <th class="bodyText Arrow">
                                        Expedite Delivery Terms
                                    </th>
                                    <th class="bodyText Arrow">
                                        Access Cease Lead Time
                                    </th>
                                </tr>
                                <tr ng-repeat="item in ContLeadTimeList">
                                    <td class="bodyText Arrow">
                                        {{AccSpeedSLA}}
                                    </td>
                                    <td class="bodyText Arrow">
                                        {{item.OrdAccep}}
                                    </td>
                                    <td class="bodyText Arrow">
                                        {{item.OrdConfirmation}}
                                    </td>
                                    <td class="bodyText Arrow">
                                       {{item.ContractLeadTime}}
                                    </td>
                                    <td class="bodyText Arrow">
                                        {{item.BTCircuitAccep}}
                                    </td>
                                    <td class="bodyText Arrow">
                                        {{item.ExpedieDelivery}}
                                    </td>
                                    <td class="bodyText Arrow">
                                        {{item.ExpedieDeliveryTerm}}
                                    </td>
                                    <td class="bodyText Arrow">
                                        {{item.AccCeaseLeadTime}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="serviceAssuraneOverview" style="display: none">
                    <div class="panel panel-primary">
                        <div class="panel-heading Arrow">
                            <h3 class="panel-title text-left">
                                Service Assurance Overview
                            </h3>
                        </div>
                        <div class="panel-body">
                            <!--<table width="60%" border="0" id="Table2" cellpadding="0" class="table table-bordered">
                                <tr>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td class="bodyText Arrow" width="30%" align="center">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Hours of Operation If not 24x7</b>
                                    </td>
                                    <td width="40%" valign="centre" class="bodyText Arrow">
                                        <b>Trouble Ticket Updates</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="15%" class="Arrow">
                                        <table>
                                            <tr>
                                                <td class="bodyText">
                                                   <b> 24x7 Fault Reception</b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="bodyText">
                                                    <b>24x7 Fault Repair</b>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="15%" class="bodyText Arrow">
                                        <table>
                                            <tr>
                                                <td class="bodyText Arrow">
                                                    <input type="text" value="{{str247FaultReception}}" readonly size="6" maxlength="6"
                                                        class="bodyText"/>
                                                    <input type="text" value="{{str247FaultReceptionName}}" readonly size="25" maxlength="25"
                                                        class="bodyText"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="bodyText Arrow">
                                                    <input type="text" value="{{str247FaultRepair}}" readonly size="6" maxlength="6"
                                                        class="bodyText"/>
                                                    <input type="text" value="{{str247FaultRepairName}}" readonly size="25" maxlength="25"
                                                        class="bodyText"/>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="30%" class="bodyText Arrow">
                                        <textarea rows="3" readonly class="bodyText" cols="41">{{strTroubleTicket}}</textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="bodyText Arrow">
                                       <b> Maintenance Window Planned Works</b>
                                    </td>
                                    <td class="bodyText Arrow">
                                        &nbsp;<textarea readonly class="bodyText" cols="41">{{strMaintenanceWindow}}</textarea>
                                    </td>
                                    <td width="60%" class="bodyText Arrow">
                                       <b> Service Credits (Repair and Availability)</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="35%">
                                        <table>
                                            <tr>
                                                <td class="bodyText Arrow">
                                                    <b>Planned Works (Advance Notice Period)</b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="bodyText Arrow">
                                                   <b> Special Notice</b>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <table>
                                            <tr>
                                                <td class="bodyText Arrow">
                                                    <textarea readonly class="bodyText" cols="41">{{strPlanWorkNotice}}</textarea>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="bodyText Arrow">
                                                    <textarea rows="2" readonly class="bodyText" cols="41">{{strSpecialNoticeSA}}</textarea>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td class="bodyText Arrow">
                                        <textarea rows="5" readonly class="bodyText" cols="41">{{strServiceCreditsSA}}</textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="bodyText Arrow">
                                        <b>Supplier Escalation Info</b> <a href="http://connection.concert.com/glopro/bt-abcde.asp" target="_blank">
                                            http://connection.concert.com/glopro/bt-abcde.asp</a>
                                    </td>
                                </tr>
                            </table>-->
                            <table id="Table2" cellpadding="0" cellspacing="0" class="table table-bordered">
                                <tr>
                                    <td width="40%">
                                        &nbsp;<br />
                                        <table>
                                            <tr>
                                                <td class="bodyText Arrow">
                                                    24x7 Fault Reception
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="bodyText Arrow">
                                                    24x7 Fault Repair
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td class="bodyText Arrow" width="60%">
                                        <b>Hours of Operation If not 24x7</b><br />
                                        <table>
                                            <tr>
                                                <td class="bodyText Arrow">
                                                    {{str247FaultReception}}&nbsp;&nbsp;&nbsp; {{str247FaultReceptionName}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="bodyText Arrow">
                                                    {{str247FaultRepair}}&nbsp;&nbsp;&nbsp; {{str247FaultRepairName}}
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="Arrow" width="40%">
                                        Maintenance Window Planned Works
                                    </td>
                                    <td class="Arrow" width="60%">
                                        {{strMaintenanceWindow}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="Arrow" width="40%">
                                        Trouble Ticket Updates
                                    </td>
                                    <td class="Arrow" width="60%">
                                        {{strTroubleTicket}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="Arrow" width="40%">
                                        Service Credits (Repair and Availability)
                                    </td>
                                    <td class="Arrow" width="60%">
                                        {{strServiceCreditsSA}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="Arrow" width="40%">
                                        Planned Works (Advance Notice Period)
                                    </td>
                                    <td class="Arrow" width="60%">
                                        {{strPlanWorkNotice}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="Arrow" width="40%">
                                        Special Notice
                                    </td>
                                    <td class="Arrow" width="60%">
                                        {{strSpecialNoticeSA}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="Arrow" width="40%">
                                        Supplier Escalation Info
                                    </td>
                                    <td class="Arrow" width="60%">
                                        <a href="http://connection.concert.com/glopro/bt-abcde.asp">http://connection.concert.com/glopro/bt-abcde.asp
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <br />
                    <div class="panel panel-primary">
                        <div class="panel-heading Arrow">
                            <h3 class="panel-title text-left">
                                Access Line Availability
                            </h3>
                        </div>
                        <div class="panel-body" cellpadding="0" cellspacing="0">
                            <table border="0" class="table table-bordered">
                                <tr>
                                     <th ng-show="{{isDSL}}" class="bodyText Arrow">
                                        Speed(D/U)
                                    </th>
                                    <th ng-hide="{{isDSL}}" class="bodyText Arrow">
                                        Speed
                                    </th>
                                    <th class="bodyText Arrow">
                                        Access Line Availability
                                    </th>
                                    <th class="bodyText Arrow">
                                        Fault Response Time Severity 1
                                    </th>
                                    <th class="bodyText Arrow">
                                        Fault Repair Time Severity 1
                                    </th>
                                    <th class="bodyText Arrow">
                                        Fault Response Time Severity 2
                                    </th>
                                    <th class="bodyText Arrow">
                                        Fault Repair Time Severity 2
                                    </th>
                                </tr>
                                <tr ng-repeat="item in ContLeadTimeList">
                                    <td class="bodyText Arrow">
                                        {{AccSpeedSLA}}
                                    </td>
                                    <td class="bodyText Arrow">
                                        {{item.AccessLineAvail}}
                                         
                                    </td>
                                    <td class="bodyText Arrow">
                                        {{item.FaultRespSeverity1}}
                                            
                                    </td>
                                    <td class="bodyText Arrow">
                                       {{item.FaultRepairSeverity1}}
                                           
                                    </td>
                                    <td class="bodyText Arrow">
                                        {{item.FaultRespSeverity2}}
                                            
                                    </td>
                                    <td class="bodyText Arrow">
                                        {{item.FaultRepairSeverity2}}
                                            
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div>
                    <table border="0" class="table">
                        <tr>
                            <td colspan="2" class="bodyText Arrow">
                                <b>Information Source</b>&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="text" value="Supply Management" readonly class="bodyText"/>
                            </td>
                            <td>
                                <b>Contact:</b> <a href="https://office.bt.com/sites/PandSC/Public/Forms/AllItems.aspx" target="_blank">Supply
                                    managers country responsibility</a> ****
                            </td>
                        </tr>
                    </table>
                    <table class="table">
                        <tr>
                            <td colspan="5" class="bodyText Arrow">
                                <b>****This is a link that will take users to the BT Global Supply Management workspace
                                    on the BT Share Point Portal.</b>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="bodyText Arrow" >
                                <b>Once users have workspace access, you can click on the Contact Link above or click
                                    <a href="https://office.bt.com/sites/PandSC/Public/List%20of%20Telco%20Suppliers%20and%20Associated%20Procurement%20Contacts.xls" target="_blank">
                                        here</a> to download the document</b>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="bodyText Arrow">
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="pageLoaderOverlay">
                </div>
            </div>
        </div>
    </div>
  
</body>
</html>
